/** RESET **/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: #f6f8f9;
}
.container {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    border-radius: 10px;
}

/** UTILITY **/
/* Bg color */
.bg-white {
    background-color: #fff;
}
.bg-light-blue {
    background-color: #47adf1;
}
.bg-blue {
    background-color: #47adf1;
}
.bg-purple {
    background-color: #9c72e4;
}
.bg-green {
    background-color: #64c0a9;
}
.bg-orange {
    background-color: #f29e33;
}
.bg-pink {
    background-color: #d863a1;
}
.bg-lightgreen {
    background-color: #b0c926;
}
.bg-light-grey {
    background-color: #f6f8f9;
}
/* Text color */
.text-white {
    color: #fff;
}
.text-light-grey {
    color: #d2d7db;
}
.text-light-green {
    color: #83cfbf;
}
.text-red {
    color: #eb5851;
}
/* Padding & margin Size */
.p-5 {
    padding: 5px;
}
.p-30 {
    padding: 30px 0;
}
.pl-50 {
    padding-left: 50px;
}
.pt-10 {
    padding-top: 10px;
}
.mt-40 {    
    margin-top: 40px;
}
.ml-20 {
    margin-left: 20px;
}
.mb-10 {
    margin-bottom: 10px;
}
/* Font size */
.f-40 {
    font-size: 40px;
}
.f-10 {
    font-size: 10px
}
.f-18 {
    font-size: 18px;
}
/*// HEADER //*/
header {
    height: 90px;
    line-height: 90px;
}
h1 {
    font-family: 'Rubik', sans-serif;
    display: inline-block;  
    vertical-align: middle;
}
#logo {
    vertical-align: middle;
}

/*// MAIN //*/
/* Button */
button {
    border-radius: 4px;   
}
#add-task {
    border: none;
}
#add-section {
    border: 1px solid #d2d7db;
}
/* Hr */
hr {
    border: 2px solid #f6f8f9;
}

/** Middle section **/
h2, li {
    color: #444851;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px;   
}
.arrow-symbol {
    font-size: 12px;
    vertical-align: middle;
}

/* Text in the circle */
.text-circle { 
    border: none;
    border-radius: 7px;
    padding: 3px 8px;
    vertical-align: middle;
}
/* Check or cross list */
li {
    list-style-position: outside;
    list-style-type: none;
}
.check {
    padding: 3px 5px;
}
.cross {
    padding: 3px 6px;
}
.check, .cross {
    border-radius: 50%;
    vertical-align: middle;   
}
.check {
    border: 1px solid #83cfbf;
}
.cross {
    border: 1px solid #eb5851;
}